<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @*@Styles.Render("~/Content/css")*@
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <label><font color="#FFFFFF" face="黑体" size="6">国泰君安量化交易情况监控分析系统</font></label>
            </div>
            <br>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("首页", "Index", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("策略明细", "Index", "TradeData", new { area = "TradeData" }, null)</li>
                    <li>@Html.ActionLink("客户明细", "Index", "Customer", new { area = "CustomerData" }, null)</li>
                    <li>@Html.ActionLink("综合查询", "Index", "ComprehensiveSearch", new { area = "ComprehensiveSearch" }, null)</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
